/* Navigation Bar custom colors  */
.navbar-default {
    background-color: #27cda5;
    border-color: rgba(0, 0, 0, 0);
    opacity: 1.0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

/* Scrollspy custom CSS Setting */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    /*Testing with three different colors.*/
    background-color: #fed136;
    background-colorrgba(255, 255, 255, 0.298039);
    background-color: gray;
    /* The last color is always applied */
    color: #fff;
    display: block;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

/* Intro (Class and child class customization) Header */
.intro {
    display: table;
    width: 100%;
    height: 600px;
    padding: 100px 0;
    text-align: justify;
    color: #fff;
    background: url(../img/pic.jpg) no-repeat bottom center scroll;
    opacity: .8;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    opacity: 1;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    opacity: 1;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    font: bold;
    opacity: 1;
}

/* For Guest form to put in center*/
.section .container .guest-form-body {
    padding-left: 20%;
    padding-right: 20%;
    background-image: url("../img/pic.jpg");
}

/* testing for the video page */
.section .container .jh {
    padding-left: 20%;
    padding-right: 20%;
    opacity: .5;
}

/* Giving a fainted background */
.panel {
    opacity: .9;
}

.video-container {
    position: static;
    top: 0%;
    left: 0%;

    overflow: hidden;
}

video {
    position: absolute;
    /*setting z-index to -1 lets the subsequent html elements display on top of video!! */
    z-index: -1;
    opacity: 1;
}

footer {
    display: block;
    background-color: #27cda5;
    color: #fff;
}

/*For the "Go to Top" icon*/
.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

/*The custom CSS ofr the Social Media Icons*/
.fa-fw {
    width: 1.28571429em;
    text-align: center;
    /*background-color: rgb(203, 186, 255);*/
    color: #fff;
}

/* CSS for the Modal for Manager Form (putting the form in Center)*/
.modalForm .form-group {
    padding-left: 20%;
    padding-right: 20%;
}

.modal-footer {
    background: whitesmoke;
    background-color: #27cda5;
    text-align: center;
    opacity: .6;
}

/* Jumbotron from Recover Password */
.jumbotron-recover-pass {
    padding-left: 30%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 3%;
}

/* Jumbotron from modify/cancel Form Password */
.modify-reservation {
    padding-left: 10%;
    padding-right: 25%;
    padding-bottom: 5%;
    padding-top: 3%;
}

/* Provide one complete page look on medium size scrrens*/
.content-section {
    padding-top: 250px;
    background-color: oldlace;
}
