<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="logo">
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <!-- Hiding  -->
      <!-- <a href="/index.html"><img src="/public/logo.png" alt="NITIN"/></a> -->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "pages" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- Putting the Page explicitly -->
      <a class="sidebar-nav-item" href="{{ site.baseurl }}about">About</a>


<!--  <a class="sidebar-nav-item" href="{{ site.baseurl }}static/java_revisions">Coding</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}static/projects">Projects</a> -->
       {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: static` in the front-matter removing the dependencies as commented above.
      {% endcomment %}

      <i> -- Tools -- </i>
      <!-- Generte the Links dynamically for the STATIC Pages -->
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "static" %} 
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
     
      <i> -- Connect -- </i>
      <a class="sidebar-nav-item" href="{{ site.github }}">GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.linkedIn }}" > LinkedIn </a>
      <a class="sidebar-nav-item" href="{{ site.bgsuBlog }}" > BGSU Blog </a>
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->

      <i> -- Resources -- </i>
      <a href="{{ site.devSetupBook }}" target="_blank"> Machine Setup</a>
    </nav>

    <div class="acknowledgement"
    <p> Thanks to Mark Otto for <cite><a href="http://hyde.getpoole.com/">Hyde </a></cite> </p>
  </div>


  </div>
</div>
