---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Site Customization
// $primary-color: #2d3cc7 !default;
//$primary-color: #0092ca !default;
// #0092ca Blue
// #393e46
$primary-color: #b51b58 !default;

$link-color: $primary-color; //#0092ca;
$link-color-visited: $primary-color  !default;
$intro-transition: true;
$global-transition: none;

/* Colors Air Skin*/
$background-color: #eeeeee !default;
$text-color: #363737 !default; //#222831
$muted-text-color: #393e46 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

// Custom Font for the
$helvetica: Spectral, Helvetica, "Helvetica Neue", Arial, sans-serif !default;
$my-custom-font-family: Times, serif, -apple-system, BlinkMacSystemFont, Roboto, "roboto slab", "droid serif", "segoe ui", system-ui, Arial, sans-serif;
$custom-font-family: Spectral, serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$global-font-family: $custom-font-family !default;
//$header-font-family: $helvetica !default;
$header-font-family: $custom-font-family !default;


//Keep the imports below the Variable names
//@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin from the config.yml
@import "minimal-mistakes"; // main partials

.site-title {
  align-self: stretch;
  -webkit-box-align: center;
  align-items: center;
  z-index: 20;
  font-weight: 800;
  letter-spacing: -0.01em;
  // text-transform: uppercase;
  font-size: 1.3em;
}

.page__title {
  margin-top: 0;
  font-weight: 800;
  //letter-spacing: .15em;
  line-height: 1.65;
  //margin: 0 0 1em 0;
  text-transform: uppercase;
  text-align: center;
  color: #B00020;
  text-decoration: underline;
  font-family: 'Arial', sans-serif;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

// Define the primary color and its lighter shades
$color-h2: #c72c6c;//fade from #b51b58
$color-h3: #d84d80;
$color-h4: #e97d94;
$color-h5: #f9aeb1;

// Base styles for all headings
h1, h2, h3, h4, h5, h6 {
  //margin: 0.5em 0 0.5em;
  margin: 0.5em 0;
}

// Specific color for each heading level
h1 {
  color: $primary_color;
}

h2 {
  color: $color-h2;
}

h3 {
  color: $color-h3;
}

h4 {
  color: $color-h4;
}

h5 {
  color: $color-h5;
}

// Optional: define color for h6 if needed
h6 {
  color: $color-h5; // Use the same as h5 or define a new lighter color if desired
}

#main {//Decide the page width
   max-width: unset !important;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-weight: 200;
  letter-spacing: .05em;
  text-transform: uppercase;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.masthead__inner-wrap {
  max-width: none;
}

.masthead {
  border-bottom: 4px solid $primary-color;
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: sticky !important; /* added to make toc scroll with page */
    float: right !important; /* added to make toc scroll with page */
    top: 0;
    right: 0;
    width: $right-sidebar-width;//400px
    //margin-right: -1 * $right-sidebar-width-narrow;
    padding-left: 1em;
    padding-top: 1em !important; /* added to make toc scroll with page */
    z-index: 10;
  }

  .toc {
    //text-transform: uppercase;
    letter-spacing: 1px;
  }

  .toc__menu li ul > li a {
    color: $color-h3;
    font-weight: normal;
    font-style: oblique;
  }

  .toc__menu a {
    color: #00adb5;
    //display: block;
    //padding: 0.25rem 0.75rem;
    //line-height: 1.5;
  }
}

//Taxonomy div is on the home page when Post_by_category or Post_by_Tag is clicked
.taxonomy__index a {
  text-transform: uppercase;
  font-size: 0.70em;
}

.taxonomy__section .list__item {
  margin-top: 2em;
}

.taxonomy__section .list__item:nth-child(1) {
  margin-top: 0.5em;
}

.page__footer,
.page__footer-follow .social-icons .svg-inline--fa {
  color: #ffffff;
}

.archive__item-title {
  // targets <a> (anchor) elements that are descendants of elements with the class archive__item-title
  a {
    color: $text-color;
    &:hover {//Color of the link on Hover
      color: $link-color;
    }
  }
}

.archive__subtitle {
  font-size: $type-size-5;
  color: $muted-text-color;
  font-weight: 800;
  letter-spacing: .25em;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0 solid #bfbfbf; // Simplified border shorthand

  &::after {
    content: '';
    display: block;
    background: $primary-color;
    height: 2px;
    width: 4em;
    margin: 0.75em auto 0;
    position: relative;
  }

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  //font-size: small;//90%;
  color: $primary-color;
  background-color: #f9f2f4;
}

ul li::marker {
  color: $primary-color; /* Set the color of the bullet points */
}

.page__content {
  font-size:19px;
}
.page__content p {
  font-size: 1em;
  margin: 0 0 20px 0;//top,right,bottom,left
}

.page__content > ul > li,
.page__content > ol > li {
  font-size:1em;
  margin: 0 0 0 10px;
  //font-style: oblique; //normal;//oblique
  //line-height: calc(1.5em + .2vw);
  //word-break: break-word;
}

.page__content td {
  //border-collapse: collapse; /* Ensures borders are collapsed between cells */
 // border: 1px solid $primary-color;// #9b9b9d;//original table bottom border color
}

//Avoid lines in the gist code
.page__content .gist-data td {
  border: none; /* Override the border for <td> inside .gist-data */
}

//$type-size-5b: 0.9em !default;
// This changes the code box
.highlight {
  margin: 0;
  //   padding: 0.5em;
  font-family: $monospace;
  //font-size: $type-size-5b;
  //line-height: 1.8;
}

.fluid-width-video-wrapper {
  padding-top: 25.25% !important;
}